<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="shortcut icon" href="assets/favicon.ico" />
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>

  <link rel="stylesheet" type="text/css" href="assets/semantic.min.css">

</head>

<body>
  <div id="app"></div>
</body>


</html>
